<div class="address col-sm-4 offset-sm-4">
    <div class="location-info">
        <h3>{{ location.label }}</h3>
        <div>
            <span>{{ location.address.street }}</span> <br/>
            <span>{{ location.address.postal_code }} {{ location.address.sperator }} {{ location.address.city }}</span><br/>
            <span>{{ location.address.country }}</span>
        </div>
    </div>
    <div class="mb-2">
        <a href="#"><i class="bi bi-pencil-fill pencil-icon"></i></a>
    </div>
</div>