.action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button {
    border-radius: 25px;
    border: 3px #82ba37 solid;
    width: 10rem;
    height: 3rem;
    color: #82ba37;
    font-weight: bold;
}

.submit-button {
    border-radius: 25px;
    border: 3px #82ba37 solid;
    background-color: #82ba37;
    width: 10rem;
    height: 3rem;
    color: #fff;
    font-weight: bold;
}

.hr {
    border-bottom: 3px solid #a8afb5;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.add-button {
    background-color: #155476;
    color: #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 1em;
}

.plus-icon {
    font-size: 3rem;
    font-weight: bolder;
    color: #a8afb5;
}

.brands {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #a8afb5;
}

.brands .first {
    font-weight: bold;
    font-size: 1.5em;
}

.brands .second {
    font-size: 1.2em;
}