<div class="add-button col-sm-4 offset-sm-4">
    <div>
        <h3 class="capital">{{ globals.content.components.add_new_address.heading }}</h3>
        <p>{{ globals.content.components.add_new_address.description }}</p>
    </div>
    <div class="mb-2">
        <a href="#"><i class="bi bi-plus plus-icon"></i></a>
    </div>
</div>

<div class="col-sm-4 offset-sm-4 hr">
</div>

<div class="action-buttons col-sm-4 offset-sm-4">
    <button class="back-button capital">{{ globals?.global.back }}</button>
    <button class="submit-button capital">{{ globals?.global.submit }}</button>
</div>

<div class="brands col-sm-8 offset-sm-2">
    <div class="first">Conichi</div>
    <div class="second"> <i class="bi bi-laptop-fill"></i> SMARTHOTEL</div>
</div>
