header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 3px solid #82ba37;
  margin-bottom: 2rem;
}

.main {
  padding-left: 1em;
  padding-right: 1em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
  height: 3rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.menu {
  font-size: 2rem;
  font-weight: bolder;
  color: #000;
}

article h2,
p {
  margin-bottom: 30px;
}

.image {
  width: 30px;
  height: 30px;
}