/* You can add global styles to this file, and also import other style files */

html, body {
    background-color: #f2f2f2;
    margin: 0; 
    height: 100%; 
    overflow: hidden
}
  
.capital {
    text-transform: uppercase;
}
